#toolbar-bracketsftp{
    display:inline-block;
    width:16px;
    height:16px;
    background-image:url('img/cloud.svg');
    background-size:100%;
    opacity:0.75;
}

#toolbar-bracketsftp:hover{
    opacity:1;
}

#toolbar-bracketsftp.working{
    background-image:url('img/cloud-upload.svg');
}

#toolbar-bracketsftp.complete{
    background-image:url('img/checkmark.svg');
}

#toolbar-bracketsftp.error{
    background-image:url('img/close.svg');
}

.bracketsftp-settings .field-group{
    padding:14px;
    background-color:#f5f5f5;
    border:1px solid #dddddd;
    
    margin-bottom:20px;
}

.bracketsftp-settings .field-container{
    margin-bottom:15px;   
}

.bracketsftp-settings .field-container:last-of-type{
    margin-bottom:0px;
}

.bracketsftp-settings .field-container input[type=text], .bracketsftp-settings .field-container input[type=password]{
    margin-left:8px;
    width:300px;
}

.bracketsftp-settings .field-group .field-container input[type=text], .bracketsftp-settings .field-group .field-container input[type=password]{
    width:200px;   
}

.bracketsftp-settings .field-container label{
    float:left;
    width:120px;
    margin-right:10px;
}

.bracketsftp-settings .field-group .field-container label{
    width:80px;   
}

.bracketsftp-settings .field-container select{
    margin-left:7px;
}

.bracketsftp-settings .field-container input[type=checkbox]{
    position: relative;
    top: 5px;
    margin-left: 9px;
}

.bracketsftp-settings #bftp-serverport{
    width:40px;
}

#bracketftp-status{
    cursor:pointer;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-left:0px!important;
}

#bracketsftp-filebrowser .table-container.loading{
    background-image:url('img/loading.gif');
    background-repeat:no-repeat;
    background-position:center center;
}

#bracketsftp-filebrowser .table-container table{
    background-color:#DFE2E2;
}

#bracketsftp-filebrowser .table-container table tr td:nth-child(2){
    text-transform:capitalize;
}

#bracketsftp-filebrowser .currentDirectory{    
    z-index: 1000;
    position: absolute;
    font-size: 0.75em;
    color: #757575;
    right: 40px;
}